server{
    listen 80;
    server_name hbyyynetflex.xyz www.hbyyynetflex.xyz;
    charset utf-8;

    location / {
        return 301 https://$host$request_uri;
    }

    location /.well-known/acme-challenge/ {
        alias   /srv/Netflex_Clone_Backend/.cert/;
    }
}

server {
    listen 443 ssl;
    server_name hbyyynetflex.xyz www.hbyyynetflex.xyz;
    charset urf-8;

    ssl on;
    ssl_certificate     /etc/letsencrypt/live/hbyyynetflex.xyz/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/hbyyynetflex.xyz/privkey.pem;

    location /static/ {
        alias           /srv/Netflex_Clone_Backend/.static/;
    }

    location / {
        include    /etc/nginx/proxy_params;
        proxy_pass http://unix:/run/netflex.sock;
    }
}
